In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [11]:
pd.read_csv("people-10000.csv")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,5f10e9D33fC5f2b,Sara,Mcguire,Female,tsharp@example.net,(971)643-6089x9160,1921-08-17,"Editor, commissioning"
1,2,751cD1cbF77e005,Alisha,Hebert,Male,vincentgarrett@example.net,+1-114-355-1841x78347,1969-06-28,Broadcast engineer
2,3,DcEFDB2D2e62bF9,Gwendolyn,Sheppard,Male,mercadojonathan@example.com,9017807728,1915-09-25,Industrial buyer
3,4,C88661E02EEDA9e,Kristine,Mccann,Female,lindsay55@example.com,+1-607-333-9911x59088,1978-07-27,Multimedia specialist
4,5,fafF1aBDebaB2a6,Bobby,Pittman,Female,blevinsmorgan@example.com,3739847538,1989-11-17,Planning and development surveyor
...,...,...,...,...,...,...,...,...,...
9995,9996,D66F0e4EdFc35e6,Tina,Sherman,Male,bartlettcolleen@example.org,(455)476-4044x5755,1974-07-28,"Scientist, physiological"
9996,9997,c753d8B9F5b6054,Earl,Jennings,Female,andreabenton@example.com,009.056.6505,1932-08-20,Warehouse manager
9997,9998,Fb2c7daAdD82dAE,Ellen,Dominguez,Female,michaelayoder@example.net,409-428-4297x469,1966-06-06,Lawyer
9998,9999,34D88Ffc743Ca5B,Emma,Clark,Male,pstrickland@example.com,849-868-8653,1907-05-09,Accounting technician
9999,10000,82D540ce0BE556f,Katrina,Schwartz,Female,andres56@example.org,001-874-330-5546x16770,1935-08-14,Drilling engineer